<div class="container-fluid">
  <div class="row-fluid">
    <div class="area-top clearfix">
      <div class="pull-left header" data-bind="with:ship">
        <div class="span12">
          <h3 class="title" data-bind="text:$root.name"></h3>
          <h5 data-bind="text:name"></h5>
        </div>
      </div>
      <ul class="inline pull-right sparkline-box">
        <li class="sparkline-row">
          <h4 class="blue"><span>Ship</span> 0</h4>
        </li>
        <li class="sparkline-row">
          <h4 class="blue"><span>Modules</span> 0</h4>
        </li>
        <li class="sparkline-row">
          <h4 class="green"><span>Total</span> 0</h4>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <ul class="breadcrumb">
      <li><%= link_to 'Fittings', fitting_index_path %><span class="divider">/</span></li>
      <li class="active"><%= @fitting.name %></li>
    </ul>
  </div>
  <div class="container-fluid padded">
    <div class="row-fluid">
      <div class="span3">
        <div class="box">
          <div class="box-header">
            <!-- ko with: selectedMarketGroup -->
              <button class="pull-left btn btn-mini" data-bind="click: $root.backMarketGroup"><i class="icon-arrow-left"></i></button>
              <div class="title" data-bind="text:name"></div>
            <!-- /ko -->
            <!-- ko ifnot: selectedMarketGroup -->
              <div class="title">Modules</div>
            <!-- /ko -->
          </div>
          <div class="box-content">
            <!-- ko ifnot: selectedMarketGroup -->
              <ul class="nav nav-list" data-bind="foreach: marketGroups">
                <li><a href="#" data-bind="text:name, click: $parent.selectMarketGroup"></a></li>
              </ul>
            <!-- /ko -->
            <!-- ko with: selectedMarketGroup -->
              <ul class="nav nav-list" data-bind="foreach: marketGroups">
                <li><a href="#" data-bind="text:name, click: $root.selectMarketGroup"></a></li>
              </ul>
              <!-- ko if: modules -->
                <ul class="nav nav-list" data-bind="foreach: modules">
                  <!-- ko if: slotType() === 'module' -->
                    <li><a href="#" data-bind="text:name, click: $root.addModule"></a></li>
                  <!-- /ko -->
                  <!-- ko if: slotType() === 'charge' -->
                    <li><a href="#" data-bind="text:name, click: $root.addCharge"></a></li>
                  <!-- /ko -->
                </ul>
              <!-- /ko -->
            <!-- /ko -->
          </div>
        </div>
      </div>
      <div class="span6" data-bind="with:ship">
        <div class="box">
          <div class="box-content">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Name</td>
                  <td><img src="<%= asset_path('items/2_64_7.png') %>" width="20px" title="Power grid" /></td>
                  <td><img src="<%= asset_path('items/12_64_7.png') %>" width="20px" title="CPU" /></td>
                  <td><img src="<%= asset_path('items/1_64_1.png') %>" width="20px" title="Capacitor" /></td>
                  <td><img src="<%= asset_path('items/22_32_15.png') %>" width="20px" title="Range" /></td>
                  <td><img src="<%= asset_path('items/22_32_22.png') %>" width="20px" title="Tracking" /></td>
                  <td><img src="<%= asset_path('items/7_64_12.png') %>" width="20px" title="Price" /></td>
                  <td><img src="<%= asset_path('items/14_64_9.png') %>" width="20px" title="Charge" /></td>
                  <td></td>
                </tr>
              </thead>
              <!-- ko foreach: slots -->
                <tbody data-bind="template:{name:'slot', foreach: slots}"></tbody>
              <!-- /ko -->
            </table>
          </div>
        </div>
      </div>
      <div class="span3" data-bind="with: ship">
        <div class="row-fluid">
          <div class="span6">
            <img src="<%= asset_path('items/12_64_7.png') %>" title="CPU" class="pull-left" width="20px" />
            <div class="progress" data-bind="progress:{min:cpuUsed(),max:cpu()}"></div>
          </div>
          <div class="span6">
            <img src="<%= asset_path('items/56_64_5.png') %>" title="Drone bay" class="pull-left" width="20px" />
            <div class="progress" data-bind="progress:{min:droneBayUsed(),max:droneBay()}"></div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <img src="<%= asset_path('items/2_64_7.png') %>" title="Power grid" class="pull-left" width="20px" />
            <div class="progress" data-bind="progress:{min:powerGridUsed(),max:powerGrid()}"></div>
          </div>
          <div class="span6">
            <img src="<%= asset_path('items/56_64_7.png') %>" title="Drone bandwidth" class="pull-left" width="20px" />
            <div class="progress" data-bind="progress:{min:droneBandwidthUsed(),max:droneBandwidth()}"></div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Offense</div>
            <ul class="box-toolbar">
              <li><span class="label"><span data-bind="formatNumber:{number:dps(), precision:1}"></span> dps</span></li>
              <li><span class="label"><span data-bind="formatNumber:{number:volley(), precision:1}"></span> volley</span></li>
            </ul>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span4">
                <img src="<%= asset_path('items/13_64_7.png') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="formatNumber:{number:turretDps(),precision:1}"></span> <small class="muted">dps</small>
              </div>
              <div class="span4">
                <img src="<%= asset_path('items/56_64_5.png') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="text:droneDps"></span> <small class="muted">dps</small>
              </div>
              <div class="span4">
                <img src="<%= asset_path('items/12_64_12.png') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="text:missleDps"></span> <small class="muted">dps</small>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Defense</div>
            <ul class="box-toolbar">
              <li><span class="label"><span data-bind="formatNumber:{number:totalHp(), power:1000, precision:1}"></span> hp</span></li>
            </ul>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span2"></div>
              <div class="span9">
                <div class="row-fluid">
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_20.png') %>" title="EM Resistance" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_18.png') %>" title="Thermal Resistance" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_17.png') %>" title="Kinetic Resistance" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_19.png') %>" title="Explosive Resistance" width="24px" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/2_64_4.png') %>" title="Shield Resistance" class="pull-left" width="20px" />
              </div>
              <div class="span9">
                <div class="row-fluid">
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:shieldEMTotal(), max:100, color:'progress-eve-blue'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:shieldThermalTotal(), max:100, color:'progress-eve-red'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:shieldKineticTotal(), max:100, color:'progress-eve-grey'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:shieldExplosiveTotal(), max:100, color:'progress-eve-yellow'}"></div>
                  </div>
                </div>
              </div>
              <div class="span1">
                <span data-bind="formatNumber:{number:shieldHp(), power:1000, precision:1}"></span>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/1_64_9.png') %>" title="Armor Resistance" class="pull-left" width="20px" />
              </div>
              <div class="span9">
                <div class="row-fluid">
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:armorEMTotal(), max:100, color:'progress-eve-blue'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:armorThermalTotal(), max:100, color:'progress-eve-red'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:armorKineticTotal(), max:100, color:'progress-eve-grey'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:armorExplosiveTotal(), max:100, color:'progress-eve-yellow'}"></div>
                  </div>
                </div>
              </div>
              <div class="span1">
                <div class="span1">
                  <span data-bind="formatNumber:{number:armorHp(), power:1000, precision:1}"></span>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/2_64_9.png') %>" title="Hull Resistance" class="pull-left" width="20px" />
              </div>
              <div class="span9">
                <div class="row-fluid">
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:hullEMTotal(), max:100, color:'progress-eve-blue'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:hullThermalTotal(), max:100, color:'progress-eve-red'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:hullKineticTotal(), max:100, color:'progress-eve-grey'}"></div>
                  </div>
                  <div class="span3">
                    <div class="progress" data-bind="progress:{min:hullExplosiveTotal(), max:100, color:'progress-eve-yellow'}"></div>
                  </div>
                </div>
              </div>
              <div class="span1">
                <span data-bind="formatNumber:{number:hullHp(), power:1000, precision:1}"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Capacitor</div>
            <ul class="box-toolbar">
              <li>
                <!-- ko if: capStable -->
                  <span class="label label-success">Stable</span>
                <!-- /ko -->
                <!-- ko if: capStable -->
                  <span class="label label-important">false</span>
                <!-- /ko -->
              </li>
            </ul>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span7">
                <img src="<%= asset_path('items/1_64_4.png') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="formatNumber:{number:capacitor(), power:1000}"></span> <small class="muted">GJ</small><br/>
                <span data-bind="text:rechargeTime"></span> <small class="muted">Recharge time</small>
              </div>
              <div class="span5">
                <img src="<%= asset_path('items/1_64_1.png') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="text:capacitorDelta"></span> <small class="muted">GJ/s</small><br/>
                <span data-bind="text:capacitorUseDelta"></span> <small class="muted">GJ/s</small>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Recharge Rates</div>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span2"></div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/1_64_15.png') %>" title="Passive shield recharge" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/2_64_1.png') %>" title="Active shield boost" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/1_64_11.png') %>" title="Armor repair amount" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/2_64_13.png') %>" title="Hull repair amount" width="24px" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/1_64_7.png') %>" title="Reinforced" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3"></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/1_64_6.png') %>" title="Sustained" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3"><span data-bind="formatNumber:{number:shieldRechargeRate(), precision:1}"></span> <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Targeting & Misc</div>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span6">
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Targets</span>
                  <span class="uneditable-input span1" data-bind="text:targets"></span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Range</span>
                  <span class="uneditable-input span1">
                    <span data-bind="formatDistance:{number:range(), power:1000}"></span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Scan res</span>
                  <span class="uneditable-input span1">
                    <span data-bind="text:scanResolution"></span>
                    <small>mm</small>
                  </span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Sensor str</span>
                  <span class="uneditable-input span1" data-bind="text:scanStrengthTotal"></span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Drone range</span>
                  <span class="uneditable-input span1" data-bind="text:droneRange"></span>
                </div>

              </div>
              <div class="span6">
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Speed</span>
                  <span class="uneditable-input span1">
                    <span data-bind="text:speed"></span>
                    <small>M/s</small>
                  </span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Align time</span>
                  <span class="uneditable-input span1">
                    <span data-bind="formatNumber:{number:alignTime(), precision:1}"></span>
                    <small>s</small>
                  </span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Signature</span>
                  <span class="uneditable-input span1" data-bind="text:signature"></span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Warp speed</span>
                  <span class="uneditable-input span1">
                    <span data-bind="text:warpSpeed"></span>
                    <small>AU/s</small>
                  </span>
                </div>
                <div class="input-prepend precision-widths span12">
                  <span class="add-on span7">Cargo</span>
                  <span class="uneditable-input span1">
                    <span data-bind="text:cargo"></span>
                    <small>m3</small>
                  <span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="slot">
<tr data-bind="css: enabled() ? '':'muted'">
  <!-- ko if: slotType() === 'module' -->
    <td>
      <input type="checkbox" data-bind="icheck:{checkboxClass:'icheckbox_flat-grey'}, checked:enabled" />
    </td>
    <td></td>
    <td><img class="pull-right" data-bind="attr:{src:icon}" width="16px" /></td>
    <td><b data-bind="text:name"></b></td>
    <td data-bind="formatNumber:{number:powerGrid(), power:1000, precision:2}"></td>
    <td data-bind="text: cpu"></td>
    <td data-bind="text: capacitorUse"></td>
    <td>
      <span data-bind="formatDistance:{number:optimalTotal(),power:1000,precision:1}"></span>
      <!-- ko if: maxRange() && falloff() -->
        <span class="muted">+</span>
      <!-- /ko -->
      <span data-bind="formatDistance:{number:falloffTotal(),power:1000,precision:1}"></span>
    </td>
    <td data-bind="formatNumber:{number:trackingTotal(),precision:3}"></td>
    <td data-bind="formatCurrency:{number:price(), power:1000000, precision:2}"></td>
    <td data-bind="with: charge">
      <span data-bind="text:name"></span>
    </td>
    <td>
      <button class="btn btn-mini" data-bind="click:$parent.removeModule"><i class="icon-remove"></i></button>
    </td>
  <!-- /ko -->
  <!-- ko if: slotType() === 'empty' -->
    <td></td>
    <td></td>
    <td><img class="pull-right" data-bind="attr:{src:icon}" width="16px" /></td>
    <td><b data-bind="text:name"></b></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  <!-- /ko -->
</tr>
</script>
<script type="text/javascript">
  $(function() {
    var config = {
      updateFittingPath: '<%= fitting_path(params[:id]) %>',
      editFittingPath: '<%= edit_fitting_path(params[:id]) %>'
    };
    evefits.fittings.edit.init(config);
  });
</script>