<%= render 'sidebar' %>
<div class="main-content">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="area-top clearfix">
        <div class="pull-left header">
          <h3 class="title" data-bind="text:name"></h3>
          <!-- ko with:ship -->
          <h5 data-bind="text:name"></h5>
          <!-- /ko -->
        </div>
        <ul class="inline pull-right sparkline-box">
          <li class="sparkline-row">
            <h4 class="blue"><span>Ship</span> 847</h4>
          </li>
          <li class="sparkline-row">
            <h4 class="blue"><span>Modules</span> 223</h4>
          </li>
          <li class="sparkline-row">
            <h4 class="green"><span>Total</span> 7930</h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid padded">
    <div class="row-fluid">
      <div class="span3">
        <div class="box">
          <div class="box-header">
            <!-- ko with: selectedMarketGroup -->
              <button class="pull-left btn btn-mini" data-bind="click: $root.backMarketGroup"><i class="icon-arrow-left"></i></button>
              <div class="title" data-bind="text:name"></div>
            <!-- /ko -->
            <!-- ko ifnot: selectedMarketGroup -->
              <div class="title">Modules</div>
            <!-- /ko -->
          </div>
          <div class="box-content">
            <!-- ko ifnot: selectedMarketGroup -->
              <ul class="nav nav-list" data-bind="foreach: marketGroups">
                <li><a href="#" data-bind="text:name, click: $parent.selectMarketGroup"></a></li>
              </ul>
            <!-- /ko -->
            <!-- ko with: selectedMarketGroup -->
              <ul class="nav nav-list" data-bind="foreach: marketGroups">
                <li><a href="#" data-bind="text:name, click: $root.selectMarketGroup"></a></li>
              </ul>
              <!-- ko if: modules -->
                <ul class="nav nav-list" data-bind="foreach: modules">
                  <li><a href="#" data-bind="text:name, click: $root.addModule"></a></li>
                </ul>
              <!-- /ko -->
            <!-- /ko -->
          </div>
        </div>
      </div>
      <div class="span6" data-bind="with:ship">
        <div class="box">
          <div class="box-content">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Name</td>
                  <td><img src="<%= asset_path('items/2_64_7.png') %>" width="20px" title="Power grid" /></td>
                  <td><img src="<%= asset_path('items/12_64_7.png') %>" width="20px" title="CPU" /></td>
                  <td><img src="<%= asset_path('items/1_64_1.png') %>" width="20px" title="Capacitor" /></td>
                  <td><img src="<%= asset_path('items/22_32_15.png') %>" width="20px" title="Range" /></td>
                  <td><img src="<%= asset_path('items/22_32_22.png') %>" width="20px" title="Tracking" /></td>
                  <td><img src="<%= asset_path('items/7_64_12.png') %>" width="20px" title="Price" /></td>
                  <td><img src="<%= asset_path('items/14_64_9.png') %>" width="20px" title="Charge" /></td>
                </tr>
              </thead>
              <!-- ko foreach: slots -->
                <tbody data-bind="template:{name:'slot', foreach: slots}"></tbody>
              <!-- /ko -->
            </table>
          </div>
        </div>
      </div>
      <div class="span3" data-bind="with: ship">
        <div class="row-fluid">
          <div class="span6">
            <img src="<%= asset_path('items/12_64_7.png') %>" title="CPU" class="pull-left" width="20px" />
            <div class="progress" data-bind="progress:{min:cpuUsed(),max:cpu()}"></div>
          </div>
          <div class="span6">

          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <img src="<%= asset_path('items/2_64_7.png') %>" title="Power grid" class="pull-left" width="20px" />
            <div class="progress" data-bind="progress:{min:powerGridUsed(),max:powerGrid()}"></div>
          </div>
          <div class="span6">
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Offense</div>
            <ul class="box-toolbar">
              <li><span class="label"><span data-bind="text:dps"></span> dps</span></li>
              <li><span class="label"><span data-bind="text:volley"></span> volley</span></li>
            </ul>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span6">
                <img src="<%= asset_path('items/13_64_7.png') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="text:weaponDps"></span> <small class="muted">dps</small>
              </div>
              <div class="span6">
                <img src="<%= asset_path('') %>" class="pull-left margin-right" width="20px" />
                <span data-bind="text:droneDps"></span> <small class="muted">dps</small>
              </div>
            </div>

          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Defence</div>
            <ul class="box-toolbar">
              <li><span class="label"><span data-bind="text:ehp"></span> ehp</span></li>
            </ul>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span2"></div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_20.png') %>" title="EM Resistance" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_18.png') %>" title="Thermal Resistance" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_17.png') %>" title="Kinetic Resistance" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/22_32_19.png') %>" title="Exsplosive Resistance" width="24px" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/2_64_4.png') %>" title="Shield Resistance" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3">
                    <div class="progress progress-eve-blue">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-red">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-grey">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-yellow">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/1_64_9.png') %>" title="Armor Resistance" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3">
                    <div class="progress progress-eve-blue">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-red">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-grey">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-yellow">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/2_64_9.png') %>" title="Hull Resistance" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3">
                    <div class="progress progress-eve-blue">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-red">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-grey">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                  <div class="span3">
                    <div class="progress progress-eve-yellow">
                      <div class="progress-label">46%</div>
                      <div class="bar" title="46%" data-percent="46" style="width: 46%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Capacitor</div>
            <ul class="box-toolbar">
              <li><span class="label label-success">Stable</span></li>
            </ul>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span6">
                <img src="<%= asset_path('items/1_64_4.png') %>" class="pull-left margin-right" width="20px" />
                9.99k <small class="muted">GJ</small>
              </div>
              <div class="span6">
                <img src="<%= asset_path('items/1_64_1.png') %>" class="pull-left margin-right" width="20px" />
                <span>+ 9.99k <small class="muted">GJ</small></span><br/>
                <span>- 9.99k <small class="muted">GJ</small></span>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Recharge Rates</div>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span2"></div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/1_64_15.png') %>" title="Passive shield recharge" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/2_64_1.png') %>" title="Active shield boost" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/1_64_11.png') %>" title="Armor repair amount" width="24px" />
                  </div>
                  <div class="span3 text-center">
                    <img src="<%= asset_path('items/2_64_13.png') %>" title="Hull repair amount" width="24px" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/1_64_7.png') %>" title="Reinforced" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3"></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span2">
                <img src="<%= asset_path('items/1_64_6.png') %>" title="Sustained" class="pull-left" width="20px" />
              </div>
              <div class="span10">
                <div class="row-fluid">
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                  <div class="span3">0.0 <small class="muted">hp/s</small></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="box-header">
            <div class="title">Targeting & Misc</div>
          </div>
          <div class="box-content padded">
            <div class="row-fluid">
              <div class="span6">
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Targets</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Range</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Scan res</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Sensor str</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Drone range</span>
                  <span class="uneditable-input span1"></span>
                </div>

              </div>
              <div class="span6">
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Speed</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Align time</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Signature</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Warp speed</span>
                  <span class="uneditable-input span1"></span>
                </div>
                <div class="input-prepend fixed-widths span12">
                  <span class="add-on span6">Cargo</span>
                  <span class="uneditable-input span1"></span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/html" id="slot">
<tr>
  <td></td>
  <td></td>
  <td><img class="pull-right" data-bind="attr:{src:icon}" width="16px" /></td>
  <td><b data-bind="text:name"></b></td>
  <td data-bind="text: powerGrid"></td>
  <td data-bind="text: cpu"></td>
  <td data-bind="text: capacitor"></td>
  <td>
    <span data-bind="text:falloff"></span>
    <span data-bind="text:maxRange"></span>
  </td>
  <td data-bind="text:tracking"></td>
  <td data-bind="text:price"></td>
  <td></td>
</tr>
</script>
<script type="text/javascript">
  evefits.fittings.show.init();
</script>