<div class="container">
  <div class="span5 offset3">
    <div class="padded">
      <div class="login box" style="margin-top: 80px;">
        <div class="box-header">
          <span class="title">Login</span>
        </div>
        <div class="box-content padded">
          <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
            <%= f.input :email, :autofocus => true %>
            <%= f.input :password %>
            <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
            <%= f.button :submit, "Sign in", :class => 'btn-primary pull-right' %>
          <% end %>
          <div>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  evefits.ships.init();
</script>