<% if user_signed_in? %>
<ul class="nav full pull-right" id="user-nav">
  <li class="dropdown user-avatar">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <%# <img class="menu-avatar" src="../../images/avatars/avatar1.jpg" /> %>
        <span><%= current_user.username %> <span class="caret"></span></span>
        <%# <span class="badge badge-important">5</span> %>
    </a>
    <ul class="dropdown-menu">
      <%# <li class="with-image">
        #  <div class="avatar">
        #    <img src="../../images/avatars/avatar1.jpg" />
        #  </div>
        #  <span></span>
        #</li>
        #<li class="divider"></li>
        %>
      <li><%= link_to 'Account', edit_user_registration_path %></li>
      <li><%= link_to 'Characters', edit_user_registration_path %></li>
      <%# <li><a href="#"><i class="icon-envelope"></i> <span>Messages</span> <span class="label label-dark-red pull-right">5</span></a></li> %>
      <% if current_user.has_role? :admin %>
      <li><%= link_to 'Admin', users_path %></li>
      <% end %>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
</ul>
<ul class="nav pull-right">
  <li><%= link_to 'Fittings', fitting_index_path %></li>
</ul>
<% else %>
<ul class="nav pull-right">
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
</ul>
<% end %>
