<% if user_signed_in? %>
<ul class="nav full pull-right">
  <li class="dropdown user-avatar">
    <!-- ko if: defaultCharacter -->
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-bind="with: defaultCharacter">
        <img class="menu-avatar" data-bind="attr:{src:avatar}" />
        <span data-bind="text:characterName"></span> <span class="caret"></span>
        <%# <span class="badge badge-important">5</span> %>
      </a>
    <!-- /ko -->
    <!-- ko ifnot: defaultCharacter -->
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span><%= current_user.username %></span> <span class="caret"></span>
      </a>
    <!-- /ko -->
    <ul class="dropdown-menu">
      <!-- ko if: defaultCharacter -->
        <!-- ko with: defaultCharacter -->
        <li class="with-image">
          <div class="avatar">
            <img data-bind="attr:{src:avatar}" />
          </div>
          <span data-bind="text:characterName"></span>
        </li>
        <li class="divider"></li>
        <li><a href="#" data-bind="click:updateSkills">Update Skills</a></li>
        <!-- /ko -->
        <!-- ko if: characters().length > 1 -->
        <li class="dropdown-submenu">
          <a href="#">Switch Characters</a>
          <ul class="dropdown-menu" data-bind="foreach: characters">
            <li data-bind="css: $root.defaultCharacter() === $data ? 'disabled':''"><a href="#" data-bind="text:characterName, click:makeDefault"></a></li>
          </ul>
        </li>
        <!-- /ko -->
        <li class="divider"></li>
        <li><h5><%= current_user.username %></h5></li>
      <!-- /ko -->
      <!-- ko ifnot: defaultCharacter -->
        <li class="dropdown-submenu">
          <a href="#">Select a Character</a>
          <ul class="dropdown-menu" data-bind="foreach: characters">
            <li data-bind="css: $root.defaultCharacter() === $data ? 'disabled':''"><a href="#" data-bind="text:characterName, click:makeDefault"></a></li>
          </ul>
        </li>
        <li class="divider"></li>
      <!-- /ko -->
      <li><%= link_to 'Account / Characters', edit_user_registration_path %></li>
      <% if current_user.has_role? :admin %>
      <li><%= link_to 'Admin', users_path %></li>
      <% end %>
      <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %></li>
    </ul>
  </li>
</ul>
<ul class="nav pull-right">
  <li><%= link_to 'Fittings', fitting_index_path %></li>
</ul>
<% else %>
<ul class="nav pull-right">
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
  <li><%= link_to 'Login', new_user_session_path %></li>
</ul>
<% end %>
