<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Iffy Fits" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "EVE Online fitting tool" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div class="navbar navbar-top navbar-inverse" id="nav">
      <div class="navbar-inner">
        <div class="container-fluid">
          <%= link_to root_path, :class => 'brand' do %>
            <img src="<%= asset_path("logo.png") %>" alt="Iffy Fits" />
          <% end %>
          <div id="spinner"></div>
          <div class="nav-collapse nav-collapse-top collapse">
            <%= render 'layouts/navigation' %>
          </div>
        </div>
      </div>
    </div>
    <div id="app">
      <%= yield %>
    </div>
    <% if user_signed_in? %>
      <script type="text/javascript">
        $(function() {
          evefits.navbar.init();
        });
      </script>
    <% end %>
  </body>
</html>
